﻿@model Basecommerce.Common.DataCollection<Basecommerce.Gateway.Models.Order.OrderDto>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Orders</h1>
    <p>All Orders</p>
</div>

<div class="text-center mt-4 mb-4">
    <a asp-page="/Orders/Create" class="btn btn-primary text-light btn-lg">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th># Orden</th>
            <th style="width:250px;">Client</th>
            <th style="width:140px;">Type Payment</th>
            <th style="width:100px;">state</th>
            <th style="width:140px;" class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a href="~/orders/@item.OrderId">@item.OrderNumber</a>
                </td>
                <td>@item.ClientId</td>
                <td>@item.PaymentType</td>
                <td>@item.Status</td>
                <td class="text-right">@item.Total</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Pages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">
            @for (var index = 1; index <= Model.Pages; index++)
            {
                <li class="page-item @(index == Model.Page ? "active" : "")">
                    <a class="page-link" asp-page="/Orders/Index" asp-route-currentpage="@index">@index</a>
                </li>
            }
        </ul>
    </nav>
}