﻿@model Basecommerce.WebClient.Authentification.Models.LoginViewModel

@{
    ViewData["Title"] = "Index";
}
<center>
    <div class="middle">
        
        <div id="login">
            <form asp-controller="Auth" asp-action="Login" method="post">
                <div asp-validation-summary="All"></div>

                <fieldset class="clearfix">
                    @if (Model.HasInvalidAccess)
                    {
                        <div class="alert alert-danger">Access Denied</div>
                    }
                    <p>
                        <span class="fa fa-user"></span>
                        <input asp-for="Email" type="text" Placeholder="Email" required>
                    </p>

                    <p>
                        <span class="fa fa-lock"></span>
                        <input asp-for="Password" type="password" Placeholder="Password" required>
                    </p>

                    <div>
                        <span style="width:48%; text-align:left;  display: inline-block;">
                            <a class="small-text" href="#">
                                Forgot password?
                            </a>
                        </span>

                        <span style="width:50%; text-align:right;  display: inline-block;">
                            <input type="submit" value="Sign In">
                        </span>
                    </div>
                </fieldset>
                <div class="clearfix"></div>
            </form>

            <div class="clearfix"></div>
        </div> <!-- end login -->
        
        <div class="logo"> LOGO
            <div class="clearfix"></div>
        </div>

    </div>
</center>